CST::BEGIN
  TEMPLATE::   ATOM_MAP: 1 atom_name: C7 C9 C5
  TEMPLATE::   ATOM_MAP: 1 residue3: X00

  TEMPLATE::   ATOM_MAP: 2 atom_name: N5 C14 C17
  TEMPLATE::   ATOM_MAP: 2 residue3: FAD

  CONSTRAINT:: distanceAB:    2.7   0.40  50.00  0
CST::END

CST::BEGIN
  TEMPLATE::   ATOM_MAP: 1 atom_name: C5 C7 C9
  TEMPLATE::   ATOM_MAP: 1 residue3: X00

  TEMPLATE::   ATOM_MAP: 2 atom_name: C14 N5 C17
  TEMPLATE::   ATOM_MAP: 2 residue3: FAD

  CONSTRAINT:: distanceAB:    3.2   0.30  50.00  0
CST::END

CST::BEGIN
  TEMPLATE::   ATOM_MAP: 1 atom_name: C9 C7 C5
  TEMPLATE::   ATOM_MAP: 1 residue3: X00

  TEMPLATE::   ATOM_MAP: 2 atom_name: C17 N5 C14
  TEMPLATE::   ATOM_MAP: 2 residue3: FAD

  CONSTRAINT:: distanceAB:    3.0   0.30  50.00  0
CST::END

CST::BEGIN
  TEMPLATE::   ATOM_MAP: 1 atom_name: N1 C3 C5
  TEMPLATE::   ATOM_MAP: 1 residue3: X00

  TEMPLATE::   ATOM_MAP: 2 atom_name: N9 C27 C14
  TEMPLATE::   ATOM_MAP: 2 residue3: FAD

  CONSTRAINT:: distanceAB:    3.8   0.30  50.00  0
CST::END

# backbone to FAD #1
CST::BEGIN
  TEMPLATE::   ATOM_MAP: 1 atom_name: N CA C
  TEMPLATE::   ATOM_MAP: 1 residue1: A

  TEMPLATE::   ATOM_MAP: 2 atom_name: N1 C7 O9
  TEMPLATE::   ATOM_MAP: 2 residue3: FAD

  CONSTRAINT:: distanceAB:    2.7   0.10  500.00  0
CST::END

# backbone to FAD #2
CST::BEGIN
  TEMPLATE::   ATOM_MAP: 1 atom_name: N CA O
  TEMPLATE::   ATOM_MAP: 1 residue1: G

  TEMPLATE::   ATOM_MAP: 2 atom_name: N2 C19 N6
  TEMPLATE::   ATOM_MAP: 2 residue3: FAD

  CONSTRAINT:: distanceAB:    2.9   0.30  500.00  0
  #CONSTRAINT::   angle_A:    120.0  24.0   100.0   360
  CONSTRAINT:: angle_B:    120.0  25.0   100.0   360
  #CONSTRAINT:: torsion_B: -180.0  20.0   100.0   360
CST::END

# backbone to FAD #3
CST::BEGIN
  TEMPLATE::   ATOM_MAP: 1 atom_name: N CA C
  TEMPLATE::   ATOM_MAP: 1 residue1: G

  TEMPLATE::   ATOM_MAP: 2 atom_name: O1 P1 O3
  TEMPLATE::   ATOM_MAP: 2 residue3: FAD

  CONSTRAINT:: distanceAB:  3.1   0.40  500.00  0
  CONSTRAINT:: angle_B: 120.0  25.0   100.0   360

CST::END

# backbone to NAD/NMN
CST::BEGIN
  TEMPLATE::   ATOM_MAP: 1 atom_name: O C CA
  TEMPLATE::   ATOM_MAP: 1 residue1: I

  TEMPLATE::   ATOM_MAP: 2 atom_name: C11 O8
  TEMPLATE::   ATOM_MAP: 2 residue3: X00

  CONSTRAINT:: distanceAB:    3.6   0.30  500.00  0
  #CONSTRAINT::   angle_A:    120.0  24.0   100.0   360
  #CONSTRAINT:: angle_B:    120.0  20.0   100.0   360
  #CONSTRAINT:: torsion_B: -180.0  20.0   100.0   360
CST::END

# backbone to backbone
CST::BEGIN
  TEMPLATE::   ATOM_MAP: 1 atom_name: O
  TEMPLATE::   ATOM_MAP: 1 residue1: G

  TEMPLATE::   ATOM_MAP: 2 atom_name: NZ
  TEMPLATE::   ATOM_MAP: 2 residue1: K

  CONSTRAINT:: distanceAB:    2.8   0.40  100.00  0
CST::END